
<script type="text/javascript" charset="utf8" src="resources/js/custom/incomeexpensenavigationportlet.js"></script>
<div class="nav-wrapper" id="tab_navigate_Id">
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav" aria-label="Main" role="navigation">
				<li id="link_incomeexpensesummary" value="link_incomeexpensesummary"><a
						href="summary">| Income Expense Summary | </a>
					</li>
					<li id="link_addincome" value="Add Income"><a
						href="displayaddincome">| Add Income | </a>
					</li>
					<li id="link_addexpense" value="Add Expense"><a
						href="displayaddexpense">| Add Expense | </a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
